
body{
    font: 20px Arial, Sans-serif;
}

.navbar{
    background-color: chartreuse;
    width: 100%;
    height: 10%;
    position: fixed;
}

nav a img{
    margin-left: 15px;
}

.quem-somos{
    background-color: bisque;
    color: rgba(51, 50, 50, 0.733);
}

.margin{
    padding-top: 50px;
    padding-bottom: 20px;
}

.parceiros{
    background-color: cadetblue;
}

.servicos{
    background-color: darkgray;
}

.footer{
    background-color: cornflowerblue;
}